<div *ngIf="!showSidebar" id="show-sidebar">
    <div class="sidebar-hamburger">
        <button class="btn btn-link" (click)="onSidebarExpandClick()">
            <img width="30" src="assets/images/menu-hamburger.svg">
        </button>
    </div>
</div>

<div class="container-fluid p-0">
    <section class="main-container">
        <div class="row">
            <div *ngIf="showSidebar" class="col-sm-3 d-none d-md-block">
                <app-account-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-account-sidebar>
            </div>
            <div class="data-container col-sm-{{ contentColSize }}">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</div>
