<div class="container-fluid p-0">
    <div id="footer">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2 text-center logo">
                        <img width="80" src="assets/images/logo.svg">
                    </div>
                    <div id="navigation" class="col-sm-5 offset-sm-3 d-flex justify-content-center">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">News & Updates</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Support</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div id="social-icons" class="col-sm-2 text-center">
                        <img width="30" class="icon" src="assets/images/linkedin.svg">
                        <img width="30" class="icon" src="assets/images/facebook.svg">
                        <img width="30" class="icon" src="assets/images/twitter.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
